{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <h1>{{info.first_name}} {{info.last_name}}</h1>
            <h4>Student ID: {{info.student_id}}</h4>
            <h4>Email: {{info.email}}</h4>
        </div>

        <div class="span4" style="background-color:#FFF6EC">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="{% url 'user:edit_profile' %}">Edit My Profile</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}